.contentToolbar {
  width: calc(100% - 6px);
  box-sizing: border-box;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  height: 64px;
  backdrop-filter: saturate(180%) blur(16px);
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  z-index: 1;
}

.contentToolbarTitleGroupLeft,
.contentToolbarTitleGroupRight {
  display: flex;
  align-items: center;
}
